.full {
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

#navbar {
	background: #eee;
	border-bottom: 1px solid #fefefe;
	margin-bottom: 10px;
}

#navbar a {
	font-size: 3em;
	vertical-align: middle;
	text-align: center;
	height: 3em;
}

#form {
	position: absolute;
	top: 50%;
	left: 20px;
	right:20px;
}