<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TargEtsy, Version 1.0</title>

    <!-- CSS -->
    <!-- load fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- load Bootstrap and custom styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="grid.css">

<script src="/angular/angular.min.js"></script>
</head>
<body class="full">
	<%- body %>
</body>
</html>